n8n-audit/01_BotMother_Monitor.json
{
  "name": "BotMother Monitor",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "path": "mexahi3mbot-monitor",
        "responseMode": "onReceived",
        "responseData": "noData",
        "options": {}
      },
      "webhookId": "mexahi3mbot-monitor"
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Parse Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst update_id = body.update_id;\nlet type = 'unknown';\nlet from = {};\nlet text = '';\nlet chat_id = '';\nlet data = '';\n\nif (body.message) {\n  type = 'message';\n  from = body.message.from || {};\n  text = body.message.text || body.message.caption || '[media/sticker]';\n  chat_id = body.message.chat?.id;\n} else if (body.callback_query) {\n  type = 'callback_query';\n  from = body.callback_query.from || {};\n  data = body.callback_query.data || '';\n  chat_id = body.callback_query.message?.chat?.id;\n  text = `[CALLBACK] ${data}`;\n}\n\nconst user_display = from.username ? `@${from.username}` : `${from.first_name || ''} ${from.last_name || ''}`.trim();\nconst ts = new Date().toISOString();\n\nreturn [{\n  json: {\n    ts,\n    update_id,\n    type,\n    chat_id,\n    user_id: from.id,\n    user: user_display,\n    text,\n    raw: body\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Log to Console",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [680, 300],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "summary",
              "value": "={{ $json.ts }} | {{ $json.type }} | {{ $json.user }} ({{ $json.user_id }}) | chat={{ $json.chat_id }} | {{ $json.text }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "update_id",
              "value": "={{ $json.update_id }}",
              "type": "number"
            },
            {
              "id": "f3",
              "name": "raw_update",
              "value": "={{ JSON.stringify($json.raw, null, 2) }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 160],
      "parameters": {
        "content": "## 📡 BotMother Monitor\n\n**Шаг 1:** Активируй этот воркфлоу (кнопка Active вверху)\n\n**Шаг 2:** Скопируй Webhook URL:\n`https://claudex.app.n8n.cloud/webhook/mexahi3mbot-monitor`\n\n**Шаг 3:** Сообщи URL — я установлю его как вебхук @MEXAHI3MBOT\n\n**Шаг 4:** Все сообщения в боте будут видны здесь в реальном времени",
        "height": 120,
        "width": 500,
        "color": 4
      }
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [{"node": "Parse Update", "type": "main", "index": 0}]
      ]
    },
    "Parse Update": {
      "main": [
        [{"node": "Log to Console", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["botmother", "audit"]
}
