n8n-audit/02_BotMother_HealthCheck.json
{
  "name": "BotMother Health Check",
  "nodes": [
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "getMe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 180],
      "parameters": {
        "method": "GET",
        "url": "https://api.telegram.org/bot8900276504:AAFGmcIqv12GVqudr1NU_QAP2gdovw0EDuQ/getMe",
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "getWebhookInfo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "https://api.telegram.org/bot8900276504:AAFGmcIqv12GVqudr1NU_QAP2gdovw0EDuQ/getWebhookInfo",
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "getMyCommands",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 420],
      "parameters": {
        "method": "GET",
        "url": "https://api.telegram.org/bot8900276504:AAFGmcIqv12GVqudr1NU_QAP2gdovw0EDuQ/getMyCommands",
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst results = {};\n\nfor (const item of items) {\n  const d = item.json;\n  if (d.result?.username) {\n    results.bot = {\n      id: d.result.id,\n      username: d.result.username,\n      name: d.result.first_name,\n      can_join_groups: d.result.can_join_groups\n    };\n  } else if ('url' in (d.result || {})) {\n    results.webhook = {\n      url: d.result.url || '(not set)',\n      pending_updates: d.result.pending_update_count,\n      allowed_updates: d.result.allowed_updates\n    };\n  } else if (Array.isArray(d.result)) {\n    results.commands = d.result.map(c => `/${c.command} — ${c.description}`);\n  }\n}\n\nconst lines = [\n  '=== @MEXAHI3MBOT Health Check ===',\n  '',\n  '🤖 Bot:',\n  `  ID: ${results.bot?.id}`,\n  `  Username: @${results.bot?.username}`,\n  `  Name: ${results.bot?.name}`,\n  '',\n  '🔗 Webhook:',\n  `  URL: ${results.webhook?.url}`,\n  `  Pending updates: ${results.webhook?.pending_updates}`,\n  `  Allowed: ${(results.webhook?.allowed_updates || []).join(', ')}`,\n  '',\n  '📋 Commands:',\n  ...(results.commands?.map(c => `  ${c}`) || ['  (none)']),\n];\n\nreturn [{ json: { report: lines.join('\\n'), raw: results } }];"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 160],
      "parameters": {
        "content": "## 🏥 Bot Health Check\n\nНажми **Test workflow** — получишь отчёт о состоянии @MEXAHI3MBOT:\n- Информация о боте\n- Статус вебхука\n- Список зарегистрированных команд\n\nРезультат виден в ноде **Aggregate Results**",
        "height": 80,
        "width": 420,
        "color": 5
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {"node": "getMe", "type": "main", "index": 0},
          {"node": "getWebhookInfo", "type": "main", "index": 0},
          {"node": "getMyCommands", "type": "main", "index": 0}
        ]
      ]
    },
    "getMe": {
      "main": [
        [{"node": "Aggregate Results", "type": "main", "index": 0}]
      ]
    },
    "getWebhookInfo": {
      "main": [
        [{"node": "Aggregate Results", "type": "main", "index": 0}]
      ]
    },
    "getMyCommands": {
      "main": [
        [{"node": "Aggregate Results", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["botmother", "audit"]
}
