n8n-audit/04_BotMother_SendTest.json
{
  "name": "BotMother Send Test Message",
  "nodes": [
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000002",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [440, 300],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "cfg1",
              "name": "CHAT_ID",
              "value": "ВСТАВЬ_СВОЙ_TELEGRAM_ID",
              "type": "string"
            },
            {
              "id": "cfg2",
              "name": "BOT_TOKEN",
              "value": "8900276504:AAFGmcIqv12GVqudr1NU_QAP2gdovw0EDuQ",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000003",
      "name": "Send /start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [660, 200],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $json.BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $json.CHAT_ID, text: '/start' }) }}",
        "options": {}
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000004",
      "name": "Send /help",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [660, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $json.BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $json.CHAT_ID, text: '/help' }) }}",
        "options": {}
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000005",
      "name": "Send /version",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [660, 400],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $json.BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $json.CHAT_ID, text: '/version' }) }}",
        "options": {}
      }
    },
    {
      "id": "d4e5f6a7-0004-0004-0004-000000000006",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 160],
      "parameters": {
        "content": "## 🧪 Send Test Messages\n\n**Шаг 1:** В ноде **Config** замени `ВСТАВЬ_СВОЙ_TELEGRAM_ID` на свой Telegram user ID\n(узнать у @userinfobot — просто напиши ему /start)\n\n**Шаг 2:** Запусти воркфлоу — бот пришлёт тебе ответы на /start, /help, /version\n\n**Внимание:** бот должен уже знать тебя (хотя бы раз писал /start вручную)",
        "height": 100,
        "width": 500,
        "color": 3
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{"node": "Config", "type": "main", "index": 0}]
      ]
    },
    "Config": {
      "main": [
        [
          {"node": "Send /start", "type": "main", "index": 0},
          {"node": "Send /help", "type": "main", "index": 0},
          {"node": "Send /version", "type": "main", "index": 0}
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["botmother", "audit"]
}
